@model IEnumerable<Vidly.Models.Movie>



@{
    var className = Model.Count() > 1 ? "popular" : null;

}

<h1> Movies</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@Html.ActionLink(movie.Name, "MoviesDetail", "Movies", new { id = movie.Id }, null)</td>
            <td>@movie.MovieData.MoviesGenres.GenreName</td>
            <td><a class="btn btn-primary" href="/Movies/Edit/@movie.Id">Edit</a></td>
        </tr>
        }
    </tbody>
</table>