@model Vidly.Models.Movie

@{
    Layout = null;
}

@*<h2>@Model.Name</h2>*@

    <p> This movie has been rented for : </p>

    <p> @Model.Name</p>
    @*@foreach (var movies in Model.)
        {
            <li>@movies.Name</li>
        }*@


