@model Vidly.Models.Customer

@{
    Layout = null;
}


@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <td>Client Name</td>
        <td>Membership</td>
        <td>Discount Rate</td>
    </tr>
    </thead>
    <tbody>
    
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.MembershipType.Name</td>
            <td>@Model.MembershipType.DiscountRate%</td>
        </tr>
    
    </tbody>
</table>