@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "ReadCustomers";
}

<h1>Vidly Clients list:</h1>
<ul>
    @foreach (var item in Model.Customers)
    {
        <li>@item.Id - @item.Name</li>
    }
</ul>

